{VAL_1}

<p>

<script type="text/javascript">
	ilAddOnLoad(
		function()
		{
			var isMeetingRunning={isMeetingRunning};
			if(isMeetingRunning){
				$('#openClassLink').show();
				$('#classNotStarted').hide();
			}else{
				$('#openClassLink').hide();
				$('#classNotStarted').show();
			}
                        
                        var isMeetingRecorded={isMeetingRecorded};
			if(isMeetingRecorded){
				$('#isMeetingRecorded').show();
			}else{
				$('#isMeetingRecorded').hide();
			}
                        
		});
</script>

<a id="openClassLink" href="{bbbURL}" target="_blank">
{clickToOpenClass}
</a>


<div id="classNotStarted">
{classNotStartedText}
</div>
<div id="isMeetingRecorded">{meetingRecordedMessage}</div>


