{VAL_1}




<button id="openClassLink" class="btn btn-primary" type="button" onclick="window.open('{bbbURL}')">{clickToOpenClass}</button>

<div id="startClassDiv">
	{noClassRunning}<br/><br/>
	<a id="startClassLink" href="#" class="btn btn-primary">{startClass}</a><br/>
</div>
<p class="choose_recording" style='visibility: {CHOOSE_RECORDING_VISIBLE};'>
	<input type="checkbox" id="recordmeeting_visible" /><span id="recordmeeting_label">{checkbox_record_meeting}</span>
<p>
<div id="endClassDiv">
    {classRunning} 
    <a id="endClassLink" href="#" class="btn btn-default">{endClass}</a><br/>
    <i> {endClassComment}</i>
</div>

<form id="endClassForm" action="{FORMACTION}" method="post">
    <input id="endClassFormInput" class="submit" type="submit" name="{CMD_END_CLASS}" value="{END_CLASS}" >
</form>

<form id="startClassForm" action="{FORMACTION2}" method="post">
    <input id="startClassFormInput" class="submit" type="submit" name="{CMD_START_CLASS}" value="{START_CLASS}" >
    <input type="checkbox" id="recordmeeting" name="recordmeeting" />
</form>
<div class="bbb_error_msg" id="maxNumberofSessionsExceeded">
	{maxNumberofSessionsExceededText}
</div>

<!-- BEGIN guestlink_block -->
<div class="ilInfoScreenSec form-horizontal" id="infoscreen_section_2">
    <h3 class="ilHeader">{GUEST_INVITE_INFO}&nbsp;</h3>
    <div class="form-group">
        <div class="il_InfoScreenPropertyValue col-xs-6">
            <div class="ilPermalinkContainer input-group">
                <input class="form-control" readonly="readonly" id="userInviteUrl" type="text" value="{GUEST_INVITE_URL}" onclick="return false;">
                <span class="input-group-btn">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" id="copyUserInviteUrl">
                            <span class="sr-only">Copy to clipboard</span>
                            <span class="glyphicon glyphicon-copy"></span>
                        </button>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- END guestlink_block -->
<form id="deleteRecording" action="{FORMACTION3}" method="post">
    <input id="deleteRecordingInput" class="submit" type="submit" name="{CMD_DELETE_RECORDING}" value="{DELETE_RECORDING}" >
    <input type="text" id="recordID" name="recordID" />
</form>
<br/>
<div id="isMeetingRecorded">{meetingRecordedMessage}</div>
<div id="recordings">
	<h1><span>{Headline_Recordings}</span></h1>
	<div>{recordings}</div>
</div>



